<div class="text-center">
    <h4 class="display-3">Olá, sou o Alexsander Santos</h4>

    <h5>Sou desenvolvedor Back-End em tecnologías .NET.</h5>

    <img id="foto"
         src="~/imagens/alex.jpg" alt="Foto do Alexsander" />

</div>
<div class="text-center">
    <img id="imagem-dotnet" src="~/imagens/dotnet1.jpg" alt="logo dotnet" />
</div>

<div class="row justify-content-center text-center" style="background-color : #f7f7f7">
    <div class="col col-md-7 secao-bemvindo">
        <h3>Bem-vindo ao meu portfólio</h3>
        <p>
         Trabalho com tecnologias. 
        </p>
    </div>
</div>
