<div id="footer" class="text-center">
    <div class="container-fluid">
        <div class="socials-media text-center">
        <div class="links">
                <a href="https://github.com/askrj/" target="_blank"><i class="bi bi-github"></i> </a>
            </a>
            <a href="https://www.linkedin.com/in/alexsander-santos-6812554a/" target="_blank"><i class="bi bi-linkedin"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+5581983481440" target="_blank"><i class="bi bi-whatsapp"></i></a>
            </div>
        <p>&copy; Copyright Alexsander.net</p>
    </div>
</div>
